@media (max-width: 500px) {
    #info {
        width: 100%;
    }
    
    #contenedor_info {
        display: block;
    }

    iframe {
        width: 90%;
        height: 400px;
        margin-bottom: 20px;
    }
}